[submodule "third_party/react-native-gifted-chat"]
	path = src/third_party/react-native-gifted-chat
	url = https://github.com/ophiuchus2/react-native-gifted-chat
[submodule "protocol"]
	path = protocol
	url = https://github.com/ophiuchus2/protocol.git
